name: Build

on:
  workflow_dispatch:
  push:
    branches: [ 'master' ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle
      - run: chmod +x gradlew
      - name: Build project
        uses: gradle/gradle-build-action@v3
        with:
          gradle-version: '8.1.1'
          arguments: build
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          path: build/libs/**.jar